body, html {
    height: 100vh;
  }
  .bg {
    /* The image used */
    background-image: url("../img/fondo-desktop.png");
  
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centrar{
      text-align: center;
      justify-content: center;
  }
  #caja2{
      font-size: 18;
      font-weight: bold;
      line-height: 24px;
      color:#ffffff;
    
  }
  .color1{
      background-color: #ffffff;
   
  
  }
  .color2{
      background-color: aqua;
      
     
  }
  .color3{
  background-color: blue;
  }
  #codigoPostal{
      background: transparent;
      color:white;
      padding-left: 25px;
      width: 527px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  margin-bottom: 25px;;
      
      
  }
  .tamano{
      width: 527px;
     
  }
  .consultar{
      background-color: #00bde0;
      border:none;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
      border-radius: 4px;
      color:#ffffff;
      height: 48px;
      font-size: 24px;
  font-weight: 700;
  
  }
  .fuente{
      font-family: 'Muli', sans-serif;
      color:#ffffff
  }
  .lluvia{
      width: 217px;
  height: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 140px;
  }
  ::placeholder { color:#ffffff; 
      vertical-align: center;
      font-size: 18px;
      font-weight: 400;
   
  ;}
  #titulo{
      margin-bottom: 50px;
     margin-top: 70px;
  }
  #parrafo1{
      margin-bottom: 50px;
  }
  
  .posicion{
      position: relative;
     left: 230px;
     bottom: 40px;
  }